html {
	font-family: sans-serif;
}

h1 {
	color: maroon;
	font-size: 3rem;
}

h3 {
	color: pink;
	font-size: 2rem;
}

footer {
	background: silver;
	padding: 10px;
}

a {
	color: orange;
}

#zen-intro {
	background: #f2f2f2;
	padding: 40px;
}